[{lager, [
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "log/errorTest.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/debugTest.log"}, {level, debug}]},
    {lager_file_backend, [{file, "log/TestResults.log"}, {level, emergency}]},
    {lager_file_backend, [{file, "log/consoleTest.log"}, {level, info}]}
  ]}
]}].